* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 65px;
  margin-top: 34px;
  margin-bottom: 51px;
}

h2 {
  font-size: 55px;
}

p {
  font-size: 24px;
}

.colored-text {
  font-size: 24px;
  color: #1fc667;
}

.wrapper {
  width: 1366px;
  height: 768px;
  border: 0.0000000000000011px solid white; /* 해당 부분 지우게 되면 이상해짐 이유가...?*/
  margin-left: auto;
  margin-right: auto;
}

.wrapper#hero,
.wrapper#bg,
.wrapper#works,
.wrapper#things {
  background-color: #e7efe1;
}

.wrapper#facts,
footer.wrapper {
  background-color: #1fc667;
}

.container {
  width: 1212px;
  height: 614px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 77px;
}

.left-area {
  width: 50%;
}

.right-area {
  width: 50%;
}
#hero .left-area {
  width: 529px;
  height: 349px;
  float: left;
  margin-top: 132.5px;
  text-align: center;
}

#hero .left-area > #hero-text {
  margin-top: 15.25px;
}

#hero .right-area {
  width: 603px;
  height: 614px;
  background-color: white;
  float: right;
  border-radius: 10%;
}

#hero .right-area > img {
  width: 531px;
  height: 531px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 42px;
  border-radius: 10%;
}

#bg .left-area {
  width: 529px;
  height: 174px;
  float: left;
}

#bg .right-area {
  width: 603px;
  height: 614px;
  float: right;
}

#bg .text-component {
  width: 603px;
  height: 174px;
  float: left;
  background-color: white;
  padding: 33px 25px;
  border-radius: 30px;
}
#bg .text-component > p:first-child {
  margin-bottom: 10px;
}

#bg .text-component:not(:last-child) {
  margin-bottom: 46px;
}

/* works */
#works img {
  border-radius: 30px;
}

#works .left-area {
  float: left;
  width: 374px;
}

#works .left-area > img:first-child {
  width: 374px;
  height: 210px;
  margin-bottom: 47px;
}

#works .left-area > img:nth-child(2) {
  width: 374px;
  height: 373px;
}

#works .right-area {
  width: 790px;
  float: right;
}

#works .right-area > img:first-child {
  width: 445px;
  height: 444px;
  margin-right: 49px;
  float: left;
}

#works .right-area > img:nth-child(2) {
  width: 296px;
  height: 444px;
  float: left;
}

#works .clearfix {
  clear: both;
}
#works .right-area > p {
  margin-top: 86px;
  text-align: center;
}

/* fun facts */

#facts .left-area {
  width: 529px;
  height: 174px;
  float: left;
}

#facts .right-area {
  width: 603px;
  height: 614px;
  float: right;
}

#facts .text-component {
  width: 603px;
  height: 174px;
  float: left;
  background-color: white;
  padding: 33px 25px;
  border-radius: 30px;
}
#facts .text-component > p:first-child {
  margin-bottom: 25px;
}

#facts .text-component:not(:last-child) {
  margin-bottom: 46px;
}

/* things */
#things img {
  border-radius: 30px;
}

#things .left-area {
  float: left;
  width: 374px;
}

#things .left-area > img:nth-child(2) {
  width: 374px;
  height: 373px;
  margin-top: 123px;
}

#things .right-area {
  width: 790px;
  float: right;
}

#things .right-area > img:first-child {
  width: 445px;
  height: 444px;
  margin-right: 49px;
  float: left;
}

#things .right-area > img:nth-child(2) {
  width: 296px;
  height: 444px;
  float: left;
}

#things .clearfix {
  clear: both;
}
#things .right-area > p {
  margin-top: 86px;
  text-align: center;
}

/* footer */
footer h2 {
  /* font-size: 42px; */
  font-weight: bold;
}

footer h4 {
  font-size: 21px;
  font-weight: bold;
  color: white;
  margin-bottom: 135px;
}

footer .left-area {
  /* width: 501px; */
  float: left;
}

footer .right-area {
  width: 50%;
  float: left;
  line-height: normal;
}

footer .right-area div:first-child {
  margin-top: 168px;
}

footer .right-area div:last-child h5 {
  margin-bottom: 28px;
}

footer .right-area div:last-child img {
  width: 38.6px;
  height: 38.6px;
}

footer .right-area div:last-child img:not(last-child) {
  margin-right: 34px;
}
footer .right-area h5 {
  color: white;
  font-size: 14px;
}

footer .right-area p {
  color: white;
  font-size: 18px;
}

footer .right-area div p {
  margin-bottom: 97px;
}
